.layout-rows {
  display: grid;
  grid-template-rows: 12rem auto;
}

.layout-columns {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.layout-background {
  background-color: rgb(42, 41, 41);
}
.page-container {
  display: flex;
  justify-content: center;
}
