.standing-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 21rem));
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid gray;
  width:fit-content;
  color: white;
  padding: 0.4rem 0 0.4rem 0.1rem;
}

.standing-container:nth-child(even) {
  background-color: #514f4f;
}

.standing-container:hover {
  background-color: #6d6b6b ;
}

.home-team-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.standing-container img {
  width: 2rem;
}
