.link-button {
  color: rgb(17 24 39);
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #7ccdf4ff;
  width: 5rem;
  display: block;
}

.link-button:hover {
  background-color: #bce3faff;
}

