.match-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 10rem));
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 0.1rem solid gray;
  width:fit-content;
  padding-bottom: 0.4rem;
  color: white;
}

.homeTeam-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.awayTeam-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.match-container img {
  width: 2rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}
