.leagues-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:auto ;
  justify-content: center;
}

@media (min-width: 768px) {
  .leagues-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1280px) {
  .leagues-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1536px) {
  .leagues-container {
    grid-template-columns: repeat(4, auto);
  }
}