.league-item-container {
  width: 20rem;
  height: 20rem;
  box-shadow: 3px 2px 5px gray;
  border-radius: 2rem;
  margin: 1rem;
  text-align: center;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.img-frame {
  width: 10rem;
  height: 10rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.league-item-container img {
  width: 10rem;
  height: auto;
}

.buttons-container {
  display: flex;
}
